@font-face {
    font-family: karla;
    src: url('/font/karla/Karla-Regular.ttf');
}
@font-face {
    font-family: karla;
    src: url('/font/karla/Karla-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: karla;
    src: url('/font/karla/Karla-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: karla;
    src: url('/font/karla/Karla-Bold.ttf');
    font-weight: 700;
}
.font-karla{
    font-family: karla;
}