@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: montserrat;
    src: url('/font/montserrat/Montserrat-Bold.ttf');
}
.font-montserrat{
    font-family: montserrat;
}