@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Bold.ttf");
}
.font-montserrat {
  font-family: montserrat;
}

@font-face {
  font-family: karla;
  src: url("/font/karla/Karla-Regular.ttf");
}
@font-face {
  font-family: karla;
  src: url("/font/karla/Karla-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: karla;
  src: url("/font/karla/Karla-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: karla;
  src: url("/font/karla/Karla-Bold.ttf");
  font-weight: 700;
}
.font-karla {
  font-family: karla;
}

html {
  font-size: 9px;
  overflow: auto;
}
@media (min-width: 575px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}

:root {
  --white: white;
  --white-3: #fff9f9;
  --black: black;
  --red: red;
  --blue: blue;
  --blue-1: #258AFF;
  --blue-2: #2B405A;
  --blue-3: #192F48;
  --green: green;
  --green-1: #4EAB08;
  --yellow: yellow;
  --white-2: #E3EEF8;
  --black-2: #1F1F1F;
  --gray: #666666;
  --orangle: #FC593B;
}

@media (max-width: 991px) {
  .header .menuMovil {
    overflow: hidden;
    height: 0;
    width: 100%;
    position: fixed;
    top: var(--heightMenu);
    left: 0;
    transition: 0.5s;
  }
  .header .menuMovil .col-1 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .header .menuMovil .inputHeader {
    margin: auto;
  }
}

body.activeMenu .menuMovil {
  height: calc(100vh - var(--heightMenu));
}

.container {
  width: 100%;
  max-width: var(--container, 69.375rem);
  margin-left: auto;
  margin-right: auto;
}

.bg, .bg img, .bg .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.login-input {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--white, white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray, gray);
}

body {
  padding-top: var(--sizeHeader, 0);
}

/*# sourceMappingURL=style.css.map */
